/*  your css code here. If applicable */
.rtpcr{  
	background-color:#011e29;
	color:white;
	padding-top:10px; 
}
.header{
	text-align:center; 
	background-color:#011e29;
	height:50px;
	padding-bottom:0px;  
	background-size:cover;
	margin-top:-20px;
} 
.image1{
	width:200px; 
	display:block;
	margin:10px;
}
.image2{
	width:200px;
	display:block;
	margin:10px;
}  
.image3{
	width:200px;
	padding:15px; 
}
.main-article-section{ 
	width:300px;
	height:250px; 
	background-color:white; 
	border-radius:10%; 
}
.container{
	display:flex;
	gap:10px;  
}
.latest-news-section{ 
	width:170px;  
	height:150px; 
	background-color:white; 
	border-radius:10%;
} 
body{
	background-color: #f5f5f5;
}
.pictorial-news-section{ 
	width:250px; 
	height:450px;  
	background-color:white; 
	border-radius:10%;  
}
.article{
	text-align:center;
} 
.pictorial-news-section h4{  
	text-align:center;  
}